header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: $font;
    font-size: 24px;
    text-align: center;
    color: $colorTextHeader;
    background-color: $colorBackgroundPage;
  }
  button{
    width: 100px;
    border: none;
    font-size: medium;
    font-family: $font;
    font-size: 16px;
    color: white;
    background-color: $colorTextTitles;
    border-radius: 50px;
    display: none;
  }